<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Shortner Results</h1>
    <ul>
    	<li>id: <%= id %></li>
    	<li>Long url: <%= longUrl %></li>
    </ul>
  </body>
</html>